{% extends "kuso_wifi_server/base.html" %}

{% block title %} Kuso Wifi Server {% endblock %}

{% block header-contents %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'date', id: 'Date' });
        dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
        dataTable.addRows([
        {% for obj in dates %}
            [ new Date({{ obj.date.year }}, {{ obj.date.month }}, {{ obj.date.day }}), {{ obj.count }} ],
        {% endfor %}
        ]);

        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {
          title: "Kuso Wifi Calendar",
        };

        chart.draw(dataTable, options);
          google.visualization.events.addListener(chart, 'select', function() {
            var date = new Date(chart.getSelection()[0].date);
            var year = date.getFullYear();
            var month = date.getMonth();
            date = date.getDate();

            // jinja2 でURL生成 -> js で置き換え. 他にうまい方法が思いつかなかった.
            location.href="{% url "kuso_wifi_server:one_day_kuso" 12345 23456 34567 %}".replace("12345", year).replace("23456", month).replace("34567", date);
        });

      }
    </script>
{% endblock %}
{% block body %}

    <div id="main" style="margin: 0 auto; width: 80%;">

        <div id="calendar_basic" style="margin: 0 auto;"></div>

        <div class="panel panel-default">

            <!-- Default panel contents -->
            <div class="panel-heading">Kuso Wifi Timeline</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ssid
                        </th>
                        <th>
                            Network Speed
                        </th>
                        <th>
                            comment
                        </th>
                    </tr>
                </thead>

                <tbody>
                {% for wifi in timeline %}
                    <tr>
                        <td>
                            {{ wifi.ssid }}
                        </td>
                        <td>
                            {% if wifi.ping_ms == 0 %}
                                不通
                            {% else %}
                                {{ wifi.ping_ms }} ms
                            {% endif %}
                        </td>
                        <td>
                            {{ wifi.comment }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}