<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Kuso Wifi Timeline</div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Wifi
            </th>
            <th>
                日付
            </th>
            <th>
                Network Speed
            </th>
            <th>
                コメント
            </th>
        </tr>
        </thead>

        <tbody>
        {% for wifi_report in wifi_report_list %}
            <tr {% if wifi_report.ping_ms == 0 %}class="alert-danger"{% elif wifi_report.ping_ms > 50 %}class="alert-warning"{% endif %}>
                <td>
                    {{ wifi_report.wifi.ssid }}
                </td>
                <td>
                    {{ wifi_report.date.month }}/{{ wifi_report.date.day }} {{ wifi_report.date.hour }}:{{ wifi_report.date.minute }}
                </td>
                <td>
                    {% if wifi_report.ping_ms == 0 %}
                        不通
                    {% else %}
                        {{ wifi_report.ping_ms }} ms
                    {% endif %}
                </td>
                <td>
                    {{ wifi_report.comment }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>