<div id="wifi-filter">

    <h3 class="text-center">Wifi Filter</h3>
    <div class="well">
        {% for i in filter_ssid %}
            <div class="checkbox">
                <label><input class="wifi-checkbox" name="{{ i.name }}" type="checkbox" {% if i.checked %} checked {% endif %}>{{ i.name }}</label>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(".checkbox").change(function(){
            var ssid_list = [];
            $(".wifi-checkbox").each(function(){
                if ($(this).prop("checked")) {
                    ssid_list.push($(this).attr("name"));
                }
            });
           $.ajax("{% url "kuso_wifi_server:filter-ajax" %}", {
               type: "POST",
               dataType: "json",
               data: JSON.stringify({
                   ssid: ssid_list
               }),
               success: function(){
                   location.reload();
               }
           });
        });
    </script>
</div>
