{% extends "kuso_wifi_server/base.html" %}

{% block title %} Daily Kuso Wifi Graph {% endblock %}

{% block header-contents %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Hour', 'Kuso'],
          {% for hour in hour_list %}
          ['{{ hour.hour }}', {{ hour.cnt }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Kuso Wifi Graph',
          hAxis: {title: 'Hour',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block body %}
<div id="chart_div" style="width: 100%; height: 500px;"></div>

{% include "kuso_wifi_server/timeline.html" %}

{% endblock %}
